<template name="keyboard">
<div id="keyboard" class="child">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="775px" height="287px" viewBox="0 0 775 287" style="enable-background:new 0 0 775 287;" xml:space="preserve">
    <style type="text/css">
    <![CDATA[
      .st0{fill:#E6E6E6;}
      .st1{font-family:'HelveticaNeue';}
      .st2{fill:#B2B2B2;}
      .st3{fill:#B3B3B3;}
      .st4{font-size:12px;}
      .st5{font-size:14px;}
      .st6{font-size:18px;}
    ]]>
    </style>
    <g id="Layer_63">
      <rect id="rect27" class="st2" width="48" height="54"/>
    </g>
    <g id="Layer_62">
      <rect id="rect49" x="52" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_61">
      <rect id="rect50" x="104" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_60">
      <rect id="rect51" x="156" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_59">
      <rect id="rect52" x="208" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_58">
      <rect id="rect53" x="260" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_57">
      <rect id="rect54" x="312" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_56">
      <rect id="rect55" x="364" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_55">
      <rect id="rect56" x="416" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_54">
      <rect id="rect57" x="468" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_53">
      <rect id="rect48" x="520" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_52">
      <rect id="rect189" x="572" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_51">
      <rect id="rect187" x="623" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_50">
      <rect id="rect" x="675" class="st2" width="100" height="54"/>
    </g>
    <g id="Layer_49">
      <rect id="rect" y="58" class="st2" width="74" height="54"/>
    </g>
    <g id="Layer_48">
      <rect id="rect220" x="702" y="58" class="st0" width="73" height="54"/>
    </g>
    <g id="Layer_47">
      <rect id="rect81" x="78" y="58" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_46">
      <rect id="rect87" x="130" y="58" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_45">
      <rect id="rect69" x="182" y="58" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_44">
      <rect id="rect82" x="234" y="58" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_43">
      <rect id="rect84" x="286" y="58" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_42">
      <rect id="rect89" x="338" y="58" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_41">
      <rect id="rect85" x="390" y="58" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_40">
      <rect id="rect73" x="442" y="58" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_39">
      <rect id="rect79" x="494" y="58" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_38">
      <rect id="rect80" x="546" y="58" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_37">
      <rect id="rect219" x="598" y="58" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_36">
      <rect id="rect221" x="650" y="58" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_35">
      <rect id="rect" x="663" y="116" class="st3" width="112" height="54"/>
    </g>
    <g id="Layer_34">
      <rect id="rect" y="116" class="st2" width="87" height="54"/>
    </g>
    <g id="layer_33">
      <rect id="rect65" x="91" y="116" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_32">
      <rect id="rect83" x="143" y="116" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_31">
      <rect id="rect68" x="195" y="116" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_30">
      <rect id="rect70" x="247" y="116" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_29">
      <rect id="rect71" x="299" y="116" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_28">
      <rect id="rect72" x="351" y="116" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_27">
      <rect id="rect74" x="403" y="116" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_26">
      <rect id="rect75" x="455" y="116" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_25">
      <rect id="rect76" x="507" y="116" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_24">
      <rect id="rect186" x="559" y="116" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_23">
      <rect id="rect222" x="611" y="116" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_22">
      <rect id="rect90" x="117" y="174" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_21">
      <rect id="rect" y="174" class="st2" width="113" height="54"/>
    </g>
    <g id="Layer_20">
      <rect  id="rect88" x="169" y="174" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_19">
      <rect id="rect67" x="221" y="174" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_18">
      <rect id="rect86" x="273" y="174" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_17">
      <rect id="rect66" x="325" y="174" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_16">
      <rect id="rect78" x="377" y="174" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_15">
      <rect id="rect77" x="429" y="174" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_14">
      <rect id="rect188" x="481" y="174" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_13">
      <rect id="rect190" x="533" y="174" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_12">
    </g>
    <g id="Layer_11">
      <rect id="rect16" x="638" y="174" class="st2" width="137" height="54"/>
    </g>
    <g id="Layer_10">
      <rect id="rect191" x="585" y="174" class="st0" width="48" height="54"/>
    </g>
    <g id="Layer_9">
      <rect id="rect32" x="195" y="233" class="st0" width="319" height="54"/>
    </g>
    <g id="Layer_8">
      <rect id="rect17" y="233" class="st2" width="61" height="54"/>
    </g>
    <g id="Layer_7">
      <rect id="rect" x="130" y="233" class="st2" width="61" height="54"/>
    </g>
    <g id="Layer_6">
      <rect id="rect" x="65" y="233" class="st2" width="61" height="54"/>
    </g>
    <g id="Layer_5">
      <rect id="rect" x="714" y="233" class="st2" width="61" height="54"/>
    </g>
    <g id="Layer_4">
      <rect id="rect" x="648" y="233" class="st2" width="61" height="54"/>
    </g>
    <g id="Layer_3">
      <rect id="rect" x="583" y="233" class="st2" width="61" height="54"/>
    </g>
    <g id="Layer_2">
      <rect id="rect" x="518" y="233" class="st2" width="61" height="54"/>
    </g>
    <text transform="matrix(1 0 0 1 94.5 89.5)" class="st1 st6">Q</text>
    <text transform="matrix(1 0 0 1 146 89.5)" class="st1 st6">W</text>
    <text transform="matrix(1 0 0 1 200 89.5)" class="st1 st6">E</text>
    <text transform="matrix(1 0 0 1 252 89.5)" class="st1 st6">R</text>
    <text transform="matrix(1 0 0 1 305 89.5)" class="st1 st6">T</text>
    <text transform="matrix(1 0 0 1 356.8330078 89.5)" class="st1 st6">Y</text>
    <text transform="matrix(1 0 0 1 408 89.5)" class="st1 st6">U</text>
    <text transform="matrix(1 0 0 1 463 89.5)" class="st1 st6">I</text>
    <text transform="matrix(1 0 0 1 511.3339844 89.5)" class="st1 st6">O</text>
    <text transform="matrix(1 0 0 1 564.6669922 89.5)" class="st1 st6">P</text>
    <text transform="matrix(1 0 0 1 619 80)" class="st1 st5">{</text>
    <text transform="matrix(1 0 0 1 620 99)" class="st1 st5">[</text>
    <text transform="matrix(1 0 0 1 674 80)" class="st1 st5">}</text>
    <text transform="matrix(1 0 0 1 674 99)" class="st1 st5">]</text>
    <text transform="matrix(1 0 0 1 737 81)" class="st1 st5">|</text>
    <text transform="matrix(1 0 0 1 736 101)" class="st1 st5">\</text>
    <text transform="matrix(1 0 0 1 109 148)" class="st1 st6">A</text>
    <text transform="matrix(1 0 0 1 161 148)" class="st1 st6">S</text>
    <text transform="matrix(1 0 0 1 213 148)" class="st1 st6">D</text>
    <text transform="matrix(1 0 0 1 267 148)" class="st1 st6">F</text>
    <text transform="matrix(1 0 0 1 317 148)" class="st1 st6">G</text>
    <text transform="matrix(1 0 0 1 369 148)" class="st1 st6">H</text>
    <text transform="matrix(1 0 0 1 427 148)" class="st1 st6">J</text>
    <text transform="matrix(1 0 0 1 473 148)" class="st1 st6">K</text>
    <text transform="matrix(1 0 0 1 527 148)" class="st1 st6">L</text>
    <text transform="matrix(1 0 0 1 135 206)" class="st1 st6">Z</text>
    <text transform="matrix(1 0 0 1 188 206)" class="st1 st6">X</text>
    <text transform="matrix(1 0 0 1 239 205)" class="st1 st6">C</text>
    <text transform="matrix(1 0 0 1 292 205)" class="st1 st6">V</text>
    <text transform="matrix(1 0 0 1 343 206)" class="st1 st6">B</text>
    <text transform="matrix(1 0 0 1 394 206)" class="st1 st6">N</text>
    <text transform="matrix(1 0 0 1 446 206)" class="st1 st6">M</text>
    <text transform="matrix(1 0 0 1 581 138)" class="st1 st5">:</text>
    <text transform="matrix(1 0 0 1 581 154)" class="st1 st5">;</text>
    <text transform="matrix(1 0 0 1 634 143)" class="st1 st5">“</text>
    <text transform="matrix(1 0 0 1 635 157)" class="st1 st5">‘</text>
    <text transform="matrix(1 0 0 1 693 148)" class="st1 st4">RETURN</text>
    <text transform="matrix(1 0 0 1 499 197)" class="st1 st5">&lt;</text>
    <text transform="matrix(1 0 0 1 501 212)" class="st1 st5">,</text>
    <text transform="matrix(1 0 0 1 553 198)" class="st1 st5">&gt;</text>
    <text transform="matrix(1 0 0 1 555 213)" class="st1 st5">.</text>
    <text transform="matrix(1 0 0 1 606 199)" class="st1 st5">?</text>
    <text transform="matrix(1 0 0 1 606.6689453 215)" class="st1 st5">/</text>
    <text transform="matrix(1 0 0 1 692.3378906 205)" class="st1 st4">SHIFT</text>
    <text transform="matrix(1 0 0 1 40.3383789 205)" class="st1 st4">SHIFT</text>
    <text transform="matrix(1 0 0 1 33.1142578 148)" class="st1 st4">ESC</text>
    <text transform="matrix(1 0 0 1 12.1142578 31)" class="st1 st4">ESC</text>
    <text transform="matrix(1 0 0 1 687.3388672 31)" class="st4">BACK SPACE</text>
    <text transform="matrix(1 0 0 1 24.5581055 89)" class="st1 st4">TAB</text>
    <text transform="matrix(1 0 0 1 13.7783203 264)" class="st1 st4">CTRL</text>
    <text transform="matrix(1 0 0 1 74.6162109 264)" class="st1 st4">SUPER</text>
    <text transform="matrix(1 0 0 1 148.3320312 264)" class="st1 st4">ALT</text>
    <text transform="matrix(1 0 0 1 535.3320312 264)" class="st1 st4">ALT</text>
    <text transform="matrix(1 0 0 1 593.6162109 264)" class="st1 st4">SUPER</text>
    <text transform="matrix(1 0 0 1 660.4443359 264)" class="st1 st4">MENU</text>
    <text transform="matrix(1 0 0 1 728.7783203 264)" class="st1 st4">CTRL</text>
    <text transform="matrix(1 0 0 1 72.1079102 40)" class="st1 st5">1</text>
    <text transform="matrix(1 0 0 1 124.1079102 40)" class="st1 st5">2</text>
    <text transform="matrix(1 0 0 1 176.1079102 40)" class="st1 st5">3</text>
    <text transform="matrix(1 0 0 1 228.1079102 40)" class="st1 st5">4</text>
    <text transform="matrix(1 0 0 1 279.1079102 39)" class="st1 st5">5</text>
    <text transform="matrix(1 0 0 1 332.1079102 39)" class="st1 st5">6</text>
    <text transform="matrix(1 0 0 1 384.1079102 40)" class="st1 st5">7</text>
    <text transform="matrix(1 0 0 1 436.1083984 39)" class="st1 st5">8</text>
    <text transform="matrix(1 0 0 1 488.1083984 39)" class="st1 st5">9</text>
    <text transform="matrix(1 0 0 1 539.1083984 39)" class="st1 st5">0</text>
    <text transform="matrix(1 0 0 1 593.2773438 39)" class="st1 st5">-</text>
    <text transform="matrix(1 0 0 1 592.5 21)" class="st1 st5">_</text>
    <text transform="matrix(1 0 0 1 642.7998047 23)" class="st1 st5">+</text>
    <text transform="matrix(1 0 0 1 642.7998047 39)" class="st1 st5">=</text>
    <text transform="matrix(1 0 0 1 74.1870117 23)" class="st1 st5">!</text>
    <text transform="matrix(1 0 0 1 122.3999023 22)" class="st1 st5">@</text>
    <text transform="matrix(1 0 0 1 176.1079102 22)" class="st1 st5">#</text>
    <text transform="matrix(1 0 0 1 228.1079102 22)" class="st1 st5">$</text>
    <text transform="matrix(1 0 0 1 277 23)" class="st1 st5">%</text>
    <text transform="matrix(1 0 0 1 331.800293 23)" class="st1 st5">^</text>
    <text transform="matrix(1 0 0 1 383.5898438 22)" class="st1 st5">&amp;</text>
    <text transform="matrix(1 0 0 1 437.5361328 23)" class="st1 st5">*</text>
    <text transform="matrix(1 0 0 1 489.1875 22)" class="st1 st5">(</text>
    <text transform="matrix(1 0 0 1 541.1875 22)" class="st1 st5">)</text>
    </svg>
</div>
</template>
